.navbar-nav .nav-link.active {
    color: #218838; /* Tom mais escuro para o item ativo */
    

}
.navbar-nav .nav-link {
  color:#218838 /* Cor da fonte das letras do cabeçalho */
  

}

.navbar-custom {
  font-weight: bold;
}

.carousel-caption h1{
    font-size: 30px;
    color: #218838;
    text-shadow: 2px 2px 2px black;
}

.carousel-caption h5{
  font-size: 30px;
  color: #c6ebce;
  text-shadow: 1px 1px 1px black;
}

.custom-text {
  background-color: rgb(36, 15, 151); /* Fundo branco */
  color: black; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno para o texto */
  border-radius: 15px; /* Bordas arredondadas */
  display: inline-block; /* Para ajustar o fundo ao tamanho do texto */
  font-size: 2vw; /* Tamanho responsivo baseado na largura da viewport */
}

/* Estilo para a legenda do carrossel */
.custom-caption {
  position: absolute;
  bottom: 20px; /* Ajusta a posição vertical */
  right: 20px; /* Ajusta a posição horizontal */
  max-width: 80%; /* Limita a largura para melhor responsividade */
  color: white; /* Para garantir que o texto se destaque sobre a imagem */
  text-align: right; /* Alinha o texto à direita */
}

/* Arredondamento das bordas dos cards */
.card {
  border-radius: 10px; /* Ajuste o valor para mais ou menos arredondamento */
}

.card-img-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

 /* Responsividade para dispositivos menores */
 @media (max-width: 768px) {
  .custom-text {
    font-size: 3vw; /* Ajustar o tamanho da fonte para dispositivos móveis */
  }
}

@media (max-width: 480px) {
  .custom-text {
    font-size: 4vw; /* Ajustar o tamanho da fonte para telas pequenas */
  }
}

.div .h2 {
  color: #c6ebce
}

/* Fonte sobre nós */
#sobreNos {
  font-family: 'Roboto', cursive; /* Aplica a fonte apenas no h1 */
  font-size: 3rem;
  color: #333;
  
}

#sobreNos {
  font-family: 'Roboto', cursive; /* Aplica a fonte do Google */
  font-size: 3rem;
  
}

/* imagem sobre nós */
.imagem-container {
  padding-top: 200px; /* abaixa a imagem */
  width: 50%; /* Mantém o container com 50% da página */
  overflow: hidden; /* Esconde partes da imagem que ultrapassarem */
}

.imagem {
  margin: 20px; /* Margem igual em todos os lçados */
  width: 100%; /* Largura sempre 100% do container */
  height: auto; /* Altura proporcional */
  max-height: 80vh; /* Limita a altura máxima */
  object-fit: cover; /* Preenche o espaço mantendo proporções */
}

/* Fonte chamativa */
.Teko {
  font-family: 'Roboto', cursive;
}

/* Margem 1, 2 e 3 */
#margem1 {
  margin: 20px; /* Margem externa em todos os lados */
  text-align: justify; /* Alinha o texto dos parágrafos */
}

#margem2 {
  margin: 20px; /* Margem externa em todos os lados */
  text-align: justify; /* Alinha o texto dos parágrafos */
}

#margem3 {
  margin: 20px; /* Margem externa em todos os lados */
  text-align: justify; /* Alinha o texto dos parágrafos */
}

/* pagina serviços */
.rows-cards{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.row-card-item{
  background-color: #7ff08e;
  width: 350px;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  transition: 0.3s;
}

.row-card-item:hover{
  background-color: #06a77e;
}
.row-card-item:hover p{
  color: white;
}
.row-card-item img{
  background-color: #06a77e;
  border-radius: 14px;
  width: 50px;
  padding: 5px;
}
.row-card-item p.nome-servico{
  margin: 5px 0;
  transition: 0.3s;
}
.row-card-item p.descricao-servico{
  transition: 0.3s;
}
/* end pagina serviços */

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-wrap {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

@media (max-width: 700px) {
  .contact .info-wrap {
    padding: 20px;
  }
}

.contact .info-item {
  margin-bottom: 20px;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .php-email-form {
  background-color: var(--surface-color);
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: var(--surface-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
}
